body{
    padding:0;
    margin:0;
    background: linear-gradient(rgb(139, 132, 132),black)
}
.bg {
    background-color:#151516 !important;
}

.p-0 {
  padding: 0 !important;
}
.m-0{
  margin: 0 !important;
}
.logo {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}
.logo img{
    padding: 0 !important;
    margin: 0 !important;
    height: 80px !important;
    width: 80px !important;
}
.logo:hover{
    background-color: transparent !important;
}

/* Intro.js*/

.intro .intro-title {
  color: #fff;
  font-weight: 700;
  font-size: 4.5rem;
  
}

.intro .intro-content{
    text-align: center;
    color: #fff;
}

.intro-content .container{
    margin: 100px 0;
}

.intro .intro-subtitle {
  font-size: 2.5rem;
  
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  height: 350px;
}


.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}


.intro-single .breadcrumb .breadcrumb-item:before {
  color: #bbf5df;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #bbf5df;
}

.intro-single .breadcrumb a {
  color: #fff;
}

/* about.js*/
/* https://media3.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif*/
.about-bg{
  background-image:url("https://i.imgur.com/Yr32yur.gif");
  background-attachment: fixed;
  height: 1000px;  
}

.about-align{
  margin-top: 50px 0 !important;
  /*background-color: rgba(31, 27, 47, 0.5) !important;*/
}

.about-me{
  font-family: sans-serif !important;
  font-size: large !important;
  
}

.skills{
  margin: 5px 5px !important;
}


